 *{
 font-family: 'Roboto', sans-serif;
 }
 
 .circle
 {
 	border: 2px solid #ECE5D9;
    background: #48cfad;
    border-radius: 55%;
    height:207px;
    padding: 82px 28px;
	  width: 190px;
	  margin-top:30px;
	margin-left:40px;
  color:white;
  cursor:pointer;
}
.cols
{
	background-color: black;
	color:white;
	padding:20px;
}
.lead {
  font-size: 21px;
  font-weight: 200;
  line-height: 1.4;
  color: #777777;
  margin-bottom: 20px;
  margin-left:10px!important;
  margin-right:10px!important;
  text-align: justify;
}
.lead2
{
  	font-size: 14px;
   	margin-left:10px!important;
  	margin-right:10px!important;
  	color: #777777;
}
.texts1
{
	margin-top:15px!important;
}
.texts_1{
	margin-top:12px!important;
}
.address{
	margin-top:12px!important;
}
.fix{
	padding:8px!important;
}
.next
{
	padding-top:10px;
}

.transbox
{
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
.list-unstyled{
padding-left: 0;
  list-style: none;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}
li {
  line-height: 24px;
}
a {
  color: #4daac6;
  text-decoration: none;
    background: transparent;
}
.vid
{
	height:200px;
}
.hs1
{
	height:51px;
}
.circle1
{
  border: 2px solid #ECE5D9;
  background: #48cfad;
  border-radius: 72%;
  height: 66px;
  padding: 19px 74px;
  width: 260px;
  margin-top: 30px;
  margin-left: 16px;
  color:white;
  cursor:pointer;
}
.t1
{
  text-align:justify;
  margin-bottom:10px;
}
.circle1>a{
color:white;
}
.copy_rights{
margin-top:12px
}